<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" referrerpolicy="no-referrer"/>
<body>
    <!-- SECCION I N I C I O -->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>FACCI</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a routerLink="/home" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a routerLink="/procesos" onclick="seleccionar(this)">PROCESOS</a></li>
                            <li><a routerLink="/horarios" onclick="seleccionar(this)">HORARIO DE ATENCION</a></li>
                            <li><a routerLink="/contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Icono del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="redes">
                        <a href="https://www.youtube.com/channel/UCOferC0PjpEUegrVq8Re-TQ/videos?app=desktop&view=0&sort=dd&shelf_id=0"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.facebook.com/UleamEc/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                        <a href="../Login/login.html"><i class="fa-solid fa-right-from-bracket"></i></a>

                    </div>
                </div>
            </header>
        </div>
    </section>
        <!-- SECCION PROCESOS -->
        <section id="portfolio">
            <h3 class="titulo-seccion">Procesos Gestion Universitaria</h3>
            <div class="fila">
                <div class="proyecto">
                    <div class="overlay"></div>
                    <a routerLink="/procesos/licencias"> <img src="https://cdn-icons-png.flaticon.com/512/3588/3588111.png" alt="" ></a>
                    <div class="info">
                        <h4>Licencias universitarias</h4>
                        <p>Solicita tus licencias para tus diferentes procesos</p>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="overlay"></div>
                    <a routerLink="/procesos/permisos" ><img src="https://thumbs.dreamstime.com/b/icono-de-solicitud-aprobada-
                        estilo-esquema-vector-aprobado-para-dise%C3%B1o-web-aislado-en-fondo-blanco-199861693.jpg" alt="" ></a>
                    <div class="info">
                        <h4>Permisos Universitarios</h4>
                        <p>olicita tus permisos para tus diferentes problemas</p>
                    </div>
                </div>
            </div>
        </section>
    <!-- SECCION FOOTER -->
    <footer>
        <p>Todos los derechos reservados - 2022</p>
        <div class="redes">
            <a href="https://www.youtube.com/channel/UCOferC0PjpEUegrVq8Re-TQ/videos?app=desktop&view=0&sort=dd&shelf_id=0"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.facebook.com/UleamEc/"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
        </div>

    </footer>
</body>
<router-outlet></router-outlet>